$lightBlue: #C7F7FF;
$medBlue:    #89C0C9;
$darkBlue:   #3a5E63;
$lightBrown: #C9A689;
$darkBrown:  #7C593C;
$lightGrey:  #d4d4d4;
$darkGrey:   #222;
$white: #fff;

$sansSerifFont: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;

$serifFont: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

$tablet-width: 701px;
$desktop-width: 901px;
$largeDesktop-width: 1401px;